/*body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #18212E;
}*/

body{
  width: 100%;
  height: 100%;

}
section {
  display: flex;
  flex-wrap: wrap;
  width: 22rem;
  height: 22rem;
}


header {
background: #ecf0f1;
}
h2 {

}

h3 {
  z-index: 3;
  color: white;
  font-size: 60px;
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow:40px;
}

.stats{
  border-bottom: 2px solid black;
}

.options {
  /*background: #ecf0f1;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*position: absolute;*/
}
.options ul{
  /*border-top: 2px solid black;*/
  /*position: absolute;*/
}

li { margin: 20px;}

/*html{
  min-height: 1200px;
  min-width: 1920px;
}*/

.text {
  margin: 0 auto;
  padding: 40px;
  display: inline;
  justify-content: flex-start;
  flex-direction: row;
  /*position:absolute;*/
  z-index:2;
}

.stageClear{
  z-index: 3;
  color: white;
  font-size: 60px;
  margin-bottom: 100px;
}

span{
  word-wrap: normal;
}

.currentText{
  z-index: 3;
  color: #2ecc71;
  font-size: 60px;
  word-break: break-word;
}

.done{
  z-index: 4;
  /*float: left;*/
  color: white;
  font-size: 60px;
  /*display: inline-block;*/
  word-break: break-word;

}

canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -500;
}



.shake {
	display:inline-block
}
.shake {
	display:block;
	position:relative;
}

h2.shake,
.shake.inline {
	display:inline-block
}

@-webkit-keyframes spotlightBounce {
    0%   { left:0vw; top:0vh;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.spotlight{
	border-radius: 50%;
	width: 500px;
	height: 500px;
  position: absolute;
  background: #2ecc71;
  animation-name: spotlightBounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
  box-shadow:40px;
	/* width and height can be anything, as long as they're equal */
}



@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(32px, 16px) rotate(0deg); }
	10% { -webkit-transform: translate(-16px, -32px) rotate(-1deg); }
	20% { -webkit-transform: translate(-48px, 8px) rotate(1deg); }
	30% { -webkit-transform: translate(8px, 32px) rotate(0deg); }
	40% { -webkit-transform: translate(16px, -16px) rotate(1deg); }
	50% { -webkit-transform: translate(-16px, 32px) rotate(-1deg); }
	60% { -webkit-transform: translate(-48px, 16px) rotate(0deg); }
	70% { -webkit-transform: translate(32px, 16px) rotate(-1deg); }
	80% { -webkit-transform: translate(-16px, -16px) rotate(1deg); }
	90% { -webkit-transform: translate(32px, 32px) rotate(0deg); }
	100% { -webkit-transform: translate(16px, -32px) rotate(-1deg); }
}
.shake{
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.textBox{
  display:flex;
  justify-content: center;
  flex-direction: row;
  height: 70vh;
}
.resultsScreen{
  margin: 0 auto;
  display:block;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  background: #f1c40f;
  margin-bottom: 40px;
}

.results{
  display:inline;
  flex-direction: column;
  justify-content:space-around;;
  margin-bottom: 40px;
}

.stageNavigation{
  text-align:center;
  width: 60vw;
}
.removed {
	display:none;
}
